<div class="container my-3">
    <div class="row justify-content-center">
        <h1>Administration</h1>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-3 border border-color1 rounded m-3">
      <div class="row text-white bg-color1" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-comments fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">55</div>
          <div>Messages</div>
        </div>
      </div>
      <a href="/listContact">
        <div class="row text-color1 pt-2">
          <div class="col-md-8">
            <div class="text-left">Voir les messages</div>
          </div>
          <div class="col-md-4">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 border border-color2 rounded m-3">
      <div class="row text-white bg-color2" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-map fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">55</div>
          <div>Expositions</div>
        </div>
      </div>
      <a href="/allexpo">
        <div class="row text-color2 pt-2">
          <div class="col-md-6">
            <div class="text-left">Voir les expositions</div>
          </div>
          <div class="col-md-6">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 border border-color3 rounded m-3">
      <div class="row text-white bg-color3" style="height: 100px">
        <div class="col-md-4 col-sm-4 col-4">
          <i class="fa fa-tasks fa-3x pt-2"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-8 text-right">
          <div class="h1 font-weight-bold pt-2">55</div>
          <div>utilisateurs</div>
        </div>
      </div>
      <a href="/listUser">
        <div class="row text-color3 pt-2">
          <div class="col-md-6">
            <div class="text-left">Gérer les utilisateurs</div>
          </div>
          <div class="col-md-6">
            <div class="text-right"><i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>
      </a>
    </div>

    
  </div>