<div class="container my-3">
    <div class="row justify-content-center">
        <h3>Retrouver toutes les expositions qui ont été proposée sur expo de briques</h3>
    </div>
</div>
{{!-- rajouter helper pour un tri par date de creation --}}
       {{#each dbexpo}}
       {{> cardExpo}} 
       {{/each}}
  