<div class="container my-3">
    <div class="row justify-content-center">
        <h3>Retrouver toutes les expositions qui ont été proposée sur Expo de Briques</h3>
    </div>
</div>

<div class="container">

{{!-- renvoi chaque expo de la db mais en sens inverse de l'orde de la db --}}
    {{#each (reverse dbexpo) }}

    {{> cardExpo}}

    {{/each}}

</div>

{{> scriptcard}}

</br>