<div class="container my-3">
    <div class="row justify-content-center">
        <h1>Nous envoyer un message ?</h1>
    </div>
</div>

<div class="container">
    {{#if errors}}
    <div class="row justify-content-center">
        <div class="col-md-8 py-1">
            <ul class="list-group">
                {{#each errors}}
                <li class="list-group-item list-group-item-danger">{{this.msg}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="/contact" method="POST">
                <div class="form-group row justify-content-center">
                    {{!-- affiche l'input avec l'email de l'utilisateur si connecer ou propose de remplir l'email si non connecter --}}
                    {{#if email}}
                    <input type="email" class="form-control" name="email" value="{{email}}" disabled>
                    {{else}}
                    <input type="email" class="form-control" placeholder="Email de contact" name="email" required>
                    {{/if}}
                </div>
                <div class="form-group row ">
                    <label>Sujet</label>
                    <select class="form-control" name="sujet" required>
                        <option hidden>Choisir...</option>
                        <option value="contact">Contact</option>
                        <option value="support">Rapport de Bug</option>
                    </select>
                </div>
                <div class="form-group row ">
                    <label>Votre message</label>
                    <textarea class="form-control" rows="3" name="message"></textarea>
                </div>
                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-outline-color3">Envoyer le message</button>
                </div>
            </form>
        </div>
    </div>
</div>