<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-body">
                <form action="/createUser" method="POST">
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="firstname" placeholder="Nom">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="lastname" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Département</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="departement">
                                    <option selected>Choisir...</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Pays</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="pays">
                                    <option selected>Choisir...</option>
                                    <option value="France">France</option>
                                    <option value="Belgique">Belgique</option>
                                    <option value="Espagne">Espagne</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 col-sm-6  mb-3">
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Mot de passe">
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="password" class="form-control" name="confpassword"
                                        placeholder="Confirmer le mot de passe">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="exposant">
                                <label class="custom-control-label" for="customSwitch1">Je suis exposant</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" name="organisateur">
                                <label class="custom-control-label" for="customSwitch2">Je suis organisateur
                                    d'exposition</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" name="newsAcceptExpositionLocation">
                                <label class="custom-control-label" for="customSwitch3">J'accepte de recevoir des infos
                                    sur les expositions autour de chez moi</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4" name="newsAcceptExposant">
                                <label class="custom-control-label" for="customSwitch4">J'accepte de recevoir des
                                    demandes d'exposants</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch5" name="newsAcceptExposition">
                                <label class="custom-control-label" for="customSwitch5">J'accepte de recevoir des
                                    demandes d'expositions</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center ">
                        <div class="col-md-6 offset-md-4 ">
                            <button type="submit" class="btn btn-outline-color3">
                                S'enregistrer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>