<div class="container my-3">
    <div class="row justify-content-center">
        <h1>Proposer votre exposition</h1>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-body">
                <form action="/createExpo" method="POST" enctype="multipart/form-data">
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="name" placeholder="Nom de l'exposition" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="adress" placeholder="Adresse de la salle" required>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 mb-3 ">
                                    <input type="text" class="form-control" name="city" placeholder="Ville" required>
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="number" class="form-control" name="departement"
                                        placeholder="Département">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 mb-3">
                                    <input type="text" class="form-control" name="postCode" placeholder="Code Postal" required>
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Pays</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01" name="country">
                                            <option selected>Choisir...</option>
                                            <option value="France">France</option>
                                            <option value="Belgique">Belgique</option>
                                            <option value="Espagne">Espagne</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 mb-3">
                                    <div class="input-group mb-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="start">Date de début</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="date" name="startDate" max="3000-12-31" min="2020-01-01"
                                                    class="form-control" id="start">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="input-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="end">Date de fin</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="date" name="endDate" max="3000-12-31" min="2020-01-01"
                                                    class="form-control" id="end">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Affiche</span>
                                </div>
                                <div class="custom-file">
                                    <input name="affiche" type="file" class="custom-file-input" id="inputGroupFile01" required>
                                    <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 mb-3 ">
                                    <input type="text" class="form-control" name="horaire" placeholder="Horaires" required>
                                </div>
                                <div class="col-md-6 col-sm-6 mb-3 ">
                                    <input type="text" class="form-control" name="price" placeholder="Tarif" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input name="contact" type="email" class="form-control"
                                    placeholder="Contact de l'organisateur" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <div class="custom-control custom-switch">
                                <input name="search" type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Nous sommes en recherche
                                    d'exposants</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center ">
                        <div class="col-md-6 offset-md-4 ">
                            <button type="submit" class="btn btn-outline-color3">
                                S'enregistrer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>