<div class="container my-3">
    <div class="row justify-content-center">
        <h1>Les prochaines expos</h1>
    </div>
</div>

<div class="container">

{{!-- affiche chaque expo trier par date en ordre decroissant --}}
{{#each (sortByDate dbexpo)}}

{{> cardExpo}}

{{/each}}

</div>


{{> scriptcard}}

</br>
