<figure class="figure">
  <img src="/assets/ressources/images/error-2129569_1920.jpg" class="figure-img img-fluid rounded" alt="error 404 en briques">
  <figcaption class="figure-caption">Image par <a href="https://pixabay.com/fr/users/aitoff-388338/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2129569">Andrew Martin</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2129569">Pixabay</a></figcaption>
</figure>
