







<section class="section">
    <div class="container">
        <form action="/" method="POST">
            <input class="input" type="text" name="name" placeholder="Login">
            <input class="input" type="password" name="password" placeholder="Password">
            <div class="control">
                <button type="submit" class="button is-primary">Se connecter</button>
            </div>
        </form>
    </div>
</section>