<section class="section">
    <div class="container">
        <div class="columns">
            {{> column/create}}
            {{> column/read}}
            {{#if isAdmin}}
            {{> column/update}}
            {{> column/delete}}
            {{/if}}
        </div>
    </div>
</section>