<div class="container my-5">
    <div class="form-row justify-content-center ml-5">
        <form id="myForm" action="/locationExpo" method="POST" class=" form-inline">
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Département</div>
                    </div>
                    <select name="departement" class="custom-select" id="selectBox" onchange="changeFunc();">
                        <option hidden>Choisir...</option>
                        <option value="all">Tous</option>
                        {{#each dbdep}}
                        <option value="{{this.departement._id}}">({{this.departement.code}}) - {{this.departement.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    {{#each dbexpo }}

    {{> cardExpo}}

    {{/each}}
</div>

{{> scriptcard}}

<script type="text/javascript">
    function changeFunc() {
        document.getElementById('myForm').submit()
    };
</script>