<script type="text/javascript">

    function changeFunc() {
        var selectBox = document.getElementById("selectBox").value;
        console.log(selectBox)
        return (selectBox);
    };

    function filtre() {
        if (document.getElementById === selectBox) {
            return (document.getElementById)
        }
    }


</script>

<div class="container my-5">
    <form action="/locationExpo" method="POST">
        <div class="form-row justify-content-center ml-5">
            <div class="col-md-6 col-sm-6 ">
                <div class="input-group mt-1">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Département</label>
                    </div>
                    <select class="custom-select"id="selectBox" onchange="changeFunc();">
                        {{#each dbexpo}}
                        <option value="{{this.departement}}">{{this.departement}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <button type="submit" class="btn btn-outline-color3 mb-2 b-2">rechercher</button>
            </div>
        </div>
    </form>
</div>


{{#each dbexpo }}

{{> cardExpo}}

{{/each}}

{{!-- <script type="text/javascript">

    function changeFunc() {
        var selectBox = document.getElementById("selectBox").value;
        var selectedValue = selectBox.value;
        console.log('coucou')
        console.log(selectBox)
        return (selectedValue);
        console.log('coucou')

        console.log(selectedValue)
    }

</script> --}}