<div class="container my-3">
    <div class="row justify-content-center">
        <h1>Vous avez perdu votre mot de passe ?</h1>
        <h3>Rentrer votre Email de connexion, et surveiller votre boite mail</h3>
    </div>
    <form action="lostPassword" method="POST">
        <div class="form-group row justify-content-center">
            <div class="col-md-6">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-6 offset-md-3 ">
                <button type="submit" class="btn btn-outline-color1">
                    Réinitialisation de mot de passe
                </button>
            </div>
        </div>
    </form>
</div>