<div class="container my-3">
    <div class="row justify-content-center">
        <h1>votre message a bien été envoyer</h1>
        <p>Vous allez etre redirigé vers la page d'acceuil dans quelques secondes. Si ce n'est pas le cas, cliquez
            <a href="/">ici</a></p>
    </div>
</div>
<script>
  setTimeout(function () {
     // after 5 seconds
     window.location = "/";
  }, 5000)
</script>