
{{#unless RT }}

<div class="alert alert-secondary py-1" role="alert">
    <div class="container-fluid">
        <div class="row ">
            <p class="mx-auto text-muted">
                Nous utilisons des cookies pour nous permettre de mieux comprendre comment le site est utilisé.
                Cochez si dessous les coockies que vous acceptez.
            </p>
        </div>
        <form action="/cookie" method="post">
            <div class="row mx-auto">
                <div class="col-md-3"></div>
                <div class="col-md-2 p-1 mx-auto">
                    <p class="p-0 m-0 text-center text-muted"> <input type="checkbox"
                            aria-label="Checkbox for following text input" checked disabled>
                        Cookie technique</p>
                </div>
                <div class="col-md-2 p-1 mx-auto">
                    <p class="p-0 m-0 text-center text-muted"><input type="checkbox" aria-label="Checkbox for following text input"
                            name="cookieGA" checked>
                        Cookie de suivi</p>
                </div>
                <div class="col-md-2 p-0 mx-auto">
                    <button type="submit" class="btn btn-outline-dark p-1">Accepter</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>


    </div>
</div>

{{/unless}}
