 <div class="top-arrow">
    <span class="scroll-top-top">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </span>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
   $(window).scroll(function(){
	if ($(this).scrollTop() > 300) {
      $(".scroll-top-top").fadeIn('600');
	}else{
      $(".scroll-top-top").fadeOut('700');
	}
});


$(document).ready(function() {
	$(".scroll-top-top").on("click", function(){
	   $('html, body').animate({scrollTop: 0}, 'slow');
	});
});
</script>
</body>
</html>