<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    {{!-- metabalise --}}
    <title>Exposition de brique Lego&#174;</title>
    <meta name="Content-Type" content="UTF-8">
    <meta name="Content-Language" content="fr">
    <meta name="Description"
        content="Retrouver toutes les expositions de brique LEGO&#174;. Inscrivez vous pour être informé et contactez les organisateurs pour exposer à votre tour.">
    <meta name="Keywords" content="Exposition, LEGO, brique, Diorama, Moc, City, Train, Ninjago, Star-wars, Friends">
    <meta name="Subject" content="Exposition de brique LEGO&#174;">
    <meta name="Author" content="Paris Willy">
    <meta name="Revisit-After" content="15 days">
    <meta name="Robots" content="all">
    <meta name="Rating" content="general">
    <meta name="Distribution" content="global">
    <meta name="Category" content="games">
    <meta name="msvalidate.01" content="8A84F089F698DA5A0F0B43331F0E9921" />

    <title>Exposition de brique Lego&#174;</title>


    {{#if GA}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167775777-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167775777-1');
    </script>
    {{/if}}
    {{!-- favicon  --}}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/ressources/icon/favicon.ico" />

    {{!-- CSS  --}}
    <link rel="stylesheet" href="/assets/ressources/style/style.min.css">

    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" --}}
        {{!-- integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" --}}
        {{!-- crossorigin="anonymous"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</head>

<body>