{{!-- <div class="container sticky-top"> --}}
  <ul class="nav nav-tabs nav-fill sticky-top ">
    <li class="nav-item">
      <a class=" p-2 nav-link bg-color1 text-light nav-font-size" href="/">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="p-2 nav-link bg-color2 text-light nav-font-size" href="/allExpo">Toutes les expositions</a>
    </li>
    <li class="nav-item">
      <a class="p-2 nav-link bg-color3 text-light nav-font-size" href="/dateExpo">Les prochaines expositions</a>
    </li>
    <li class="nav-item ">
      <a class="p-2 nav-link bg-color4 text-light nav-font-size" href="/locationExpo">Les expositions près de chez
        moi</a>
    </li>
  </ul>
{{!-- </div> --}}