<h1>
    <span class="badge badge-color1 shadow mx-2 text-white">{{ moment startDate format="DD" }}</span>
    <span class="badge badge-color1 shadow mx-2 text-white">{{ moment endDate format="DD" }}</span>
    <span class="font-weight-bold text-capitalize">{{ moment startDate locale="fr" format="MMMM" }}</span>
</h1>