<div class="column " >
                <h1 class=" panel has-text-centered">Delete</h1>
                <h1 class=" panel has-text-centered">Effacer un utilisateur</h1>
                {{#each dbuser}}
                <form class="panel" action="/inside/{{ _id }}/?_method=DELETE" method="POST">
                    <div class="columns ">
                        <div class=" column ">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{ this.image }}" alt="image de profil">
                            </figure>
                        </div>
                        <div class="column is-three-quarters ">
                            <p name="username"></p> {{this.name}}</p>
                            <p name="email"></p> {{this.email}}</p>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">Effacer</button>
                    </div>
                </form>
                {{/each}}
                <form class="panel" action="/inside/?_method=DELETE" method="POST">
                    <div class="control">
                        <button type="submit" class="button is-link">Vider la base de donnée</button>
                    </div>
                </form>
            </div>