<div class="column">
                <h1 class=" panel has-text-centered">Update</h1>
                <h1 class=" panel has-text-centered">Modifier un utilisateur</h1>
                {{#each dbuser}}
                <form class="panel" action="/inside/{{ _id }}/?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="columns ">
                        <div class=" column">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{ this.image }}" alt="image de profil">
                            </figure>

                        </div>
                        <div class="column is-three-quarters">
                            <input class="input" name="username" value="{{this.name}}"></input>
                            <input class="input" name="email" value="{{this.email}}"></input>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <div class="select is-danger">
                                    <select name="select">
                                        <option value="false">User</option>
                                        <option value="true">Admin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column file">
                        <label class="file-label">
                            <input class="file-input" type="file" name="picture">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choisir une image de profil
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class=" column control">
                        <button type="submit" class="button is-link">Modifier</button>
                    </div>
                </form>
                {{/each}}
            </div>